# Server Port
PORT=5000
NODE_ENV=development

# Database (PostgreSQL / Supabase / Neon / Local Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dayflow_hrms?schema=public"

# JWT Authentication
JWT_SECRET="dayflow_jwt_super_secret_key_change_in_production_12345"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="dayflow_refresh_super_secret_key_change_in_production_67890"
JWT_REFRESH_EXPIRES_IN="7d"

# Email Configuration (Nodemailer / Mailtrap / SMTP)
EMAIL_HOST="smtp.mailtrap.io"
EMAIL_PORT=2525
EMAIL_USER=""
EMAIL_PASSWORD=""
EMAIL_FROM="no-reply@dayflow.hrms"

# Frontend Client URL (For CORS & verification links)
FRONTEND_URL="http://localhost:3000"

# Uploads Folder
UPLOAD_DIR="uploads"
